@import './base.css';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  /* border-radius: 2px; */
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

section {
  width: 99vw;
  height: calc(97vh - 48px);
  position: absolute;
  top: 6%;
  margin: auto;
  background-color: var(--color-1);
}

h1 {
  font-weight: bolder;
  font-size: 1.2rem;
  color: var(--color-text);
}

h1 span {
  font-weight: bolder;
  font-size: 1.2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

img {
  max-width:100%;
}

input {
  width: 80%;
  max-width: 650px;
  padding: 0px 5px;
  height: 30px;
  max-height: 30px;
  border-radius: 10px !important;
  text-shadow: none !important;
  font-size: small;
}

input :not(:placeholder-shown) {
  width: 80%;
  max-width: 650px;
  height: 30px;
  max-height: 30px;
  border-radius: 10px !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  justify-content: space-around;
  padding: .25rem;
}

form .form-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

form .icon {
  padding-left: 1rem;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

label {
  padding-right: 1rem;
  font-size: x-large;
  width: 20%;
}

form .controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  outline: none;
  opacity: 1;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.btn {
  width: 90px !important;
  height: 38px !important;
  
  margin: 0px !important;
  padding: 0px !important;
}

.btn:enabled {
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px #131313 !important;
}

.btn:disabled {
  color: rgba(255, 255, 255, 0.25);
  text-shadow: none !important;
  cursor: default;
}

.draggable {
  /* background: #ff0000; */
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  z-index: -1;
  cursor: pointer;
}

/* stops drag functionality on buttons in same element */
.button-drag {
  -webkit-app-region: no-drag;
  margin: 0px 10px;
  z-index: 1;
  background: none;
  outline: none;
  border: none;
}

.manifesto {
  font-family: 'Consolas';
  font-weight: bold;
}

.bg-light {
  background-color: var(--color-background);
  color: var(--color-text);
}

.bg-dark {
  background-color: var(--color-background-alt);
  color: var(--color-text-alt);
}

.border {
  border: 5px double var(--color-text);
}

.border-dark {
  border-style: solid;
  margin-bottom: -0.1em;
  border-width: 0.1em;
  cursor: pointer;
  border-color: #000;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.fill {
  width: 100%;
  height: 100%;
}

.w-fill {
  width: 100%;
}

.h-30 {
  height: 30%;
}

.w-30 {
  width: 30%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-90 {
  width: 90%;
}

.h-fill {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.p-1 {
  padding: 1rem;
}

.p-quarter {
  padding: 0.25rem;
}

.p-half {
  padding: 0.5rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.m-1 {
  margin: 1rem;
}

.m-half {
  margin: 0.5rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-a {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hide {
  display: none;
}

.scroll-box {
  height: 80%;
  max-height: 80%; /* Adjust height as needed */
  overflow-y: auto !important;
  padding: 0px;
  width: 100%; /* Ensures it takes full width */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.scroll-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.results {
  width: 100%;
  padding: 0.25rem 0.25rem;
  font-size: x-small;
  color: var(--color-text);
  background-color: var(--color-1);
  align-items: center;
  margin-bottom: .125rem;
  text-align: left;
}

.entry {
  font-size: x-small;
  cursor: default;
  padding: 5px 0px;
  margin-bottom: .25rem;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--color-background-soft);
  box-shadow: 
    inset 2px 2px 2px var(--color-2),
    inset -2px -2px 2px var(--color-2);
  overflow: hidden;
  position: relative;
  border-radius: 10px !important;
}

.inner {
  min-width: 0;
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  width:  calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: var(--color-1);
  position: relative;
  margin: auto;
  overflow: hidden;
  box-shadow: 
    inset 2px 2px 2px rgba(242, 242, 242, 0.3),
    inset -2px -2px 2px rgba(22, 22, 22, 0.3);
  border-radius: 10px !important;
}

.no-radius {
  border-radius: 0px !important;
}

.cctv-grain-holder {
  opacity: 0.2; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  top: 0%; 
  z-index: 999;
}

.cctv-grain {
  width: 100%;
  height: 100%;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  background-clip:content-box;
}

.cctv-bars {
  position: absolute; 
  background-clip:content-box; 
  overflow: hidden; 
  top: 0%; 
  z-index: 999; 
  width:100%; 
  height:100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}

.cctv-bar {
  height: 6%; 
  background-color: #000; 
  padding: .25rem; 
  border-radius: 0px !important;
}

.cctv-video-holder {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  top: 0%; 
  z-index: 996;
}

.cctv-video {
  width: 100%;
  height: 100%;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  background-clip:content-box;
}

.cctv-time {
  font-size:x-small; 
  text-shadow: none !important; 
  position: absolute; 
  z-index: 997; 
  color: #f2f2f2; 
  bottom: 5%; 
  right: 5%; 
  padding: 0.25rem;
}

.cctv-placeholder {
  position: absolute; 
  background-clip:content-box; 
  overflow: hidden; 
  top: 0%; 
  z-index: 998; 
  width:100%; 
  height:100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: #000; 
  color: #f2f2f2; 
  font-size: small;
}
